<%= turbo_frame_tag :content, class: "w-full flex flex-col gap-12" do %>
  <h1 class="text-3xl">Prescriptions List</h1>

  <%= link_to "New Prescription", new_prescription_path, class: "max-w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5", data: { turbo_action: :advance } %>

  <div class="flex flex-col space-y-6">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Patient Name
            </th>
            <th scope="col" class="px-6 py-3">
              Patient Phone
            </th>
            <th scope="col" class="px-6 py-3">
              Prescription Detail
            </th>
            <th scope="col" class="px-6 py-3">
              Prescription Date
            </th>
            <th scope="col" class="px-6 py-3">
              Remark
            </th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @prescriptions %>

          <tr class="hidden only:table-row"><th class="p-6">You do not have any prescriptions</th></tr>
        </tbody>
      </table>
    </div>

    <%== pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance"') if @pagy.pages > 1 %>
  </div>
<% end %>
