<%= turbo_frame_tag :prescriptions, class: "w-full flex-col space-y-12" do %>
  <h1 class="text-3xl">Prescriptions List</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Patient Name
          </th>
          <th scope="col" class="px-6 py-3">
            Patient Phone
          </th>
          <th scope="col" class="px-6 py-3">
            Prescription Detail
          </th>
          <th scope="col" class="px-6 py-3">
            Prescription Date
          </th>
          <th scope="col" class="px-6 py-3">
            Remark
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @prescriptions %>

        <tr class="hidden only:table-row"><th class="p-6">You haven't had any Prescriptions yet</th></tr>
      </tbody>
    </table>
  </div>
<% end %>
